In this code we want to extract relevant data from the h5 files obtained after the tracking analysis and containing all the coordinates x and y of abdomen thorax and head of the fly for each time point.

The aim is having a unique csv file with data from all the videos.

To do that we need to: 
- read the hdf5 files
- store information from the h5 files in the corresponding coloumns and add missing coloums for each h5 file 
coloumns we want are: 
        fly id (exp,arena,maze) -> get it from the directory with command inputpath.parent.name
        frame (called index) -> already there, to be extracted
        X and Y coordinates of head, abdomen, thorax -> already there, to be extracted
        time (in seconds) -> compute it (29 frames per sec)
        starving status  -> depends on experiment 
        habituation status -> depends on arena number
    area (blu_obj, oran_obj, neutral) -> need to define thresholds either with gimpy or with the pixel thing (see notes on word) 

- join all files together 
- save csv file as a unique file with data from all the h5 files (so all experiments)

In [29]:
import h5py
import pandas as pd
from pathlib import Path
import re
import numpy as np
import cv2
import matplotlib.pyplot as plt
import scipy.signal
import os
import glob 
from scipy.ndimage import uniform_filter1d

In [59]:
# List all h5 files in the directory and subdirectories
input = Path("/home/matthias/Videos/Alice_Samara_Videos2") #CHANGE PATH HERE
h5_files = list(input.rglob("*.h5"))

dataframes = []  # List to hold all dataframes

#cycle to run the code for each video related h5 file in all the paths where it found some 

for testpath in h5_files:
    #get node names and locs matrix with all info
    with h5py.File(testpath.as_posix(), "r") as f:
                dset_names = list(f.keys())
                locs = f["tracks"][:].T #this has the coordinates of the nodes (x,y)
                node_names = [n.decode() for n in f["node_names"][:]]
            #LEGEND: locs[0] refers to the first frame
            #locs [0][0] first frame, abdomen (1 = thorax, 2 = head)
            #locs [0][0][0] first frame, abdomen, x value (1 = y value)
            #locs 
    #get all locations for all the frames of a video divided by body part 
    HEAD_INDEX = 2
    THORAX_INDEX = 1
    ABDO_INDEX = 0
    head_loc = locs[:, HEAD_INDEX, :, :]
    thorax_loc = locs[:, THORAX_INDEX, :, :]
    abdo_loc = locs[:, ABDO_INDEX, :, :]
    
    #build a dataframe with locations of different body parts divided by x and y (flatten to remove a parenthesis and save them in df)
    df = pd.DataFrame(
        {
            "head_x": head_loc[:, 0].flatten(),
            "head_y": head_loc[:, 1].flatten(),
            "thorax_x": thorax_loc[:, 0].flatten(),
            "thorax_y": thorax_loc[:, 1].flatten(),
            "abdo_x": abdo_loc[:, 0].flatten(),
            "abdo_y": abdo_loc[:, 1].flatten(),
        }
    ).reset_index()
    #df.head() to print and see how it looks like

    #now we add the missing columns to the dataframe

    #time (in seconds) of each frame considering that we have 29 frames for second
    seconds_per_frame = 1/29
    df["time"] = df["index"]*seconds_per_frame    

    #fly ids (exp,arena,maze)
    #take the fly id from the directory name
    #find the experiment/arena/maze number in the path knowing that it is always next to the word experiment/arena/maze
    path = testpath.parent.parent.name
    df["arena"] = re.search(r'arena(\d+)', path).group(1)
    path = testpath.parent.name
    df["maze"] = re.search(r'maze(\d+)', path).group(1)
    path = testpath.parent.parent.parent.name
    df["exp"] = re.search(r'experiment(\d+)', path).group(1)
    

    #starving status (starved in experiment2, experiment5 fed in experiment3, experiment4 )
    fed_conditions = ("3", "4")
    df["starving_cond"] = df["exp"].apply(lambda x: "fed" if any(cond in x for cond in fed_conditions) else "starved")

    #habituation status (unused if arena0, arena1, arena2, blue if arena3, arena4, arena5, orange if arena6, arena7, arena8)
    blue_arenas = ("3", "4", "5")
    orange_arenas = ("6", "7", "8")
    df["habituation_cond"] = df["arena"].apply(lambda x: "blue" if any(cond in x for cond in blue_arenas) else "orange" if any(cond in x for cond in orange_arenas) else "unused")
    
    #now we add conditions for experiment1 which is different (control experiment) because the flies are all unused and some fed (arenas 1-3) the others starved (4-9)
    if df["exp"].iloc[0] == "1":
        df["starving_cond"] = df["arena"].apply(lambda x: "starved" if int(re.search(r'(\d+)', x).group(1)) > 3 else "fed")
        df["habituation_cond"] = "unused"



    #area (blu_obj, oran_obj, neutral) -> need to define thresholds 

    # we calculate the sum of pixels in each coloumn of each frame in order to use it as a threshold to define the area of the fly
    #the vertical corridor borders will be our thresholds

    #first we get the video present in the folder of the experiment, arena, maze we are analyzing
    directory = os.path.dirname(testpath)
    trying = glob.glob(os.path.join(directory, '*.mp4'))

    #Get the first frame of the video
    cap = cv2.VideoCapture(trying[0])
    cap.set(cv2.CAP_PROP_POS_FRAMES, 0)
    ret, frame = cap.read()
    cap.release()

    # Convert the image to grayscale if it's not already
    if len(frame.shape) == 3:  # Check if the image has color channels
        frame = cv2.cvtColor(frame, cv2.COLOR_BGR2GRAY)
        
    #normalize the pixel values of the image
    def normalize_image(image):
        norm_image = cv2.normalize(image, None, alpha=0, beta=255, norm_type=cv2.NORM_MINMAX)
        return norm_image
    frame = normalize_image(frame)

    # Calculate the sum of pixel values for each column (x-coordinate)
    column_pixel_sums = np.sum(frame, axis=0)

    # Create an array of x-coordinates
    x_values = np.arange(len(column_pixel_sums))

#to plot the sum of pixel values for each column to see how to define thresholds in the above code
    '''# Create a new figure
    fig, ax = plt.subplots(figsize=(10, 6))

    # Plot the pixel sums
    ax.plot(x_values, column_pixel_sums)

    # Add a grid
    ax.grid(True)

    # Set the x-ticks with an interval of 5
    ax.set_xticks(np.arange(min(x_values), max(x_values)+1, 5))

    # Rotate x-axis labels
    plt.xticks(rotation=90)

    # Set the labels and title
    ax.set_xlabel('Column index')
    ax.set_ylabel('Sum of pixel values')
    ax.set_title('Sum of pixel values for each column')'''

    # Find x coordinates of the plateau 
    column_pixel_sums_1d = column_pixel_sums.flatten()

    # Apply a smoothing function to reduce noise
    smoothed_sums = uniform_filter1d(column_pixel_sums_1d, size=4)

    # Threshold for detecting the plateau (on the y = 3000, distance along x of the plateau = at least 40 )
    threshold = 80000
    min_plateau_length = 40

    # Find indices where the smoothed sums exceed the threshold
    above_threshold = smoothed_sums > threshold

    # Identify the start and end points of the plateau
    plateau_start = None
    plateau_end = None

    for i in range(1, len(above_threshold)):
        if above_threshold[i] and not above_threshold[i-1]:
            start = i
        if not above_threshold[i] and above_threshold[i-1]:
            end = i
            if end - start >= min_plateau_length:
                plateau_start = start
                plateau_end = end
                break

    # Mark the boundary points on the plot and show it (to check)
    '''plt.figure(figsize=(10, 6))
    plt.plot(smoothed_sums)
    if plateau_start is not None and plateau_end is not None:
        plt.axvline(x=plateau_start, color='r', linestyle='--', label=f'Start at {plateau_start}')
        plt.axvline(x=plateau_end, color='r', linestyle='--', label=f'End at {plateau_end}')
    ## Set the x-ticks with an interval of 5 and rotate label of 90 degrees
    plt.xticks(np.arange(min(x_values), max(x_values)+1, 5), rotation=90)
    #
    plt.xlabel('Column index')
    plt.ylabel('Sum of pixel values')
    plt.title('Sum of pixel values for each column with boundaries')
    plt.legend()
    plt.grid(True)
    plt.show()'''

    left_peak = plateau_start
    right_peak = plateau_end


    #let's add a column with the position of the blue object relative to the fly prospective
    df["pos_blue_obj"] = "left"
    # Add "area" column to DataFrame

    #if we are analysign the maze 1 right and left are opposite (because it was rotated during the cropping)
    if df["maze"].iloc[0] == "1":
        left_peak, right_peak = right_peak, left_peak
        df["pos_blue_obj"] = "right"
        
    # if the thorax of the fly is lower than the left peak, the fly is in the left area (corresponding to the blue object)
    #if it is higher than the right peak, the fly is in the right area (right obj), otherwise it is in the neutral area
    #the y coordinate of the thorax also have to be over the middle line to be sure the fly is not in the resting area (which is larger). Max y value is around 480 so we consider 240 as the middle line

    df["area"] = "neutral"
    
    #if thorax_x is lower than left peak and thorax_y < 240, the fly is in the left area (y axes goes from top to bottom so lower values are higher on the screen)
    df.loc[(df["thorax_x"] < left_peak) & (df["thorax_y"] < 240), "area"] = "blue"
    df.loc[(df["thorax_x"] > right_peak) & (df["thorax_y"] < 240), "area"] = "orange"

    #save the dataframe in the list of dataframes
    dataframes.append(df)

# Concatenate all dataframes
combined_df = pd.concat(dataframes)

# Save the concatenated dataframe to a CSV file and specify the path
#if the file already exhists remove it
if os.path.exists(input / 'fly_data_AliceSamara.csv'):
    os.remove(input / 'fly_data_AliceSamara.csv')
    
#consider the commas as column separators for the csv file


combined_df.to_csv(input / 'fly_data_AliceSamara.csv', index=False)

#to see the single dataframe
#df 
#to see the concatenated dataframe
#combined_df

In [64]:
#see the columns of combined_df corresponding to experiment1
combined_df[combined_df["exp"] == "1"]

,index,head_x,head_y,thorax_x,thorax_y,abdo_x,abdo_y,time,arena,maze,exp,starving_cond,habituation_cond,pos_blue_obj,area
0,0,100.144592,352.490234,118.737076,352.344574,137.892197,352.446289,0.000000,2,0,1,fed,unused,left,neutral
1,1,99.594658,358.897736,115.736961,355.465790,134.789719,349.844330,0.034483,2,0,1,fed,unused,left,neutral
2,2,96.451851,362.487488,112.661575,358.633057,131.580368,352.433319,0.068966,2,0,1,fed,unused,left,neutral
3,3,93.130211,365.319153,109.376976,359.210571,128.336670,355.283966,0.103448,2,0,1,fed,unused,left,neutral
4,4,90.189178,365.550140,106.438919,361.735168,125.512878,355.720245,0.137931,2,0,1,fed,unused,left,neutral
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104397,104397,112.435364,467.926178,128.143829,460.899078,144.202911,451.721191,3599.896552,8,2,1,starved,unused,left,neutral
104398,104398,109.487503,467.727600,125.143410,458.507782,141.216949,451.515839,3599.931034,8,2,1,starved,unused,left,neutral
104399,104399,109.517372,467.718170,125.082375,458.493866,141.161880,451.551758,3599.965517,8,2,1,starved,unused,left,neutral
104400,104400,109.497124,467.687805,125.075737,458.477997,141.178467,451.513092,3600.000000,8,2,1,starved,unused,left,neutral
104401,104401,109.487488,467.703949,125.099464,458.469147,141.198364,451.502655,3600.034483,8,2,1,starved,unused,left,neutral

In [33]:
#see the columns of combined_df corresponding to experiment1
combined_df[combined_df["exp"] == "1"]

,index,head_x,head_y,thorax_x,thorax_y,abdo_x,abdo_y,time,arena,maze,exp,starving_cond,habituation_cond,pos_blue_obj,area
0,0,100.144592,352.490234,118.737076,352.344574,137.892197,352.446289,0.000000,2,0,1,fed,unused,left,neutral
1,1,99.594658,358.897736,115.736961,355.465790,134.789719,349.844330,0.034483,2,0,1,fed,unused,left,neutral
2,2,96.451851,362.487488,112.661575,358.633057,131.580368,352.433319,0.068966,2,0,1,fed,unused,left,neutral
3,3,93.130211,365.319153,109.376976,359.210571,128.336670,355.283966,0.103448,2,0,1,fed,unused,left,neutral
4,4,90.189178,365.550140,106.438919,361.735168,125.512878,355.720245,0.137931,2,0,1,fed,unused,left,neutral
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104397,104397,112.435364,467.926178,128.143829,460.899078,144.202911,451.721191,3599.896552,8,2,1,starved,unused,left,neutral
104398,104398,109.487503,467.727600,125.143410,458.507782,141.216949,451.515839,3599.931034,8,2,1,starved,unused,left,neutral
104399,104399,109.517372,467.718170,125.082375,458.493866,141.161880,451.551758,3599.965517,8,2,1,starved,unused,left,neutral
104400,104400,109.497124,467.687805,125.075737,458.477997,141.178467,451.513092,3600.000000,8,2,1,starved,unused,left,neutral
104401,104401,109.487488,467.703949,125.099464,458.469147,141.198364,451.502655,3600.034483,8,2,1,starved,unused,left,neutral

In [67]:
# Get the number of unique values of combinations of experiment, arena, and maze

unique_combinations = combined_df[["exp", "arena", "maze"]].drop_duplicates()

print(f"Number of unique combinations of experiment, arena, and maze: {len(unique_combinations)}")

unique_exp= combined_df[["exp"]].drop_duplicates()

print(f"Number of experiments: {len(unique_exp)}")

Number of unique combinations of experiment, arena, and maze: 135
Number of experiments: 5